# 1. Please download the proper compiled version of numpy and gdal
#      from https://www.lfd.uci.edu/~gohlke/pythonlibs/
# numpy > 1.9.0
# GDAL > 1.9
# 2. Please install pygeoc from the github repo for the latest version
#      https://github.com/lreis2415/PyGeoC
# pygeoc > 0.3

future
six
typing

# Python 2.7.x only
configparser;python_version<'3'

# Using pip to automatically install dependency packages
# pip install -r requirements.txt
